.logo{
  border-radius: 50%;
  border: 0ch;
  padding: 8px;
  margin: 0.3rem;
  align-self: start;
  background-color: white;
}

.logo:hover{
  background-color: #ff69b4;
  cursor: pointer;
}

.seccion{
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 0 .5rem ;
}