.targeta{
  background-color: #EE9FD1a0;
  align-items: center;
  padding: 1rem;
  width: min-content;
  flex:auto;
  justify-content: center;

}

.borde{
  border-width: 2px;
  border-color: white;
  margin: 2rem;
  
}

.boton{
  background-color: rgba(0, 0, 0, 0);
  color: white;
  padding: 15px 25px;
  border-color: white;
  font-size: 2rem;
  text-decoration: none;
  font-weight: 600;
  border: 2px solid #f3f3f3;
  letter-spacing: 10px;
  

}

.h3{
  margin: 0 15px;
  color: white;
  flex: auto;
  justify-items: center;
  letter-spacing: 3px;
  font-size: 1.8rem;
  font-weight: 400;
}